<!DOCTYPE html>
<html>
<html lang="en">

<head>
    <title>Ask 8 Ball</title>
    <meta charset="utif-8">
</head>

<body>
    <% if (text.length === 0) { %>
   No text entered!
    <% } else { %>     
            <li><%= text %></li>
    </ul>
    <% }  // end else %>
    <a href="/">Add people</a>
</body>

</html>
